{%extends 'base.html'%} {%block title%}User Profile{%endblock%} {%block content
%} {% if user %}
<h1>{{user.first_name}}'s Profile Details</h1>
<img src="{{user.image_url}}" alt="Profile Photo" width="130" height="175" />

<a href="/users/{{user.id}}/edit"><button>Edit</button></a>
<a href="/users/{{user.id}}/delete"><button>Delete User</button></a>
<br />
<br />
<h2>Posts:</h2>
{%if posts %}
<ul>
  {%for post in posts%}
  <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
  {%endfor%}
</ul>
{%endif%}
<a href="/users/{{user.id}}/posts/new""><button>Add a New Post</button></a>
<br />
<br />
{%endif%} <a href="/"><button>Home</button></a>{%endblock%}
